{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">{% if recipe %}Edit Recipe{% else %}Add New Recipe{% endif %}</h1>
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">
            {% if recipe %}Save Changes{% else %}Create Recipe{% endif %}
        </button>
    </form>
</div>
{% endblock %}